.darkmode{
    background-color:rgb(53, 53, 53);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-size:15px;

}
.head_1{
    text-align: center;
    letter-spacing: 1px;
}
.top_bar{
    background-color: rgb(255, 251, 0);
    height: 20px;
    width: 99%;
    border:3px solid black;
    border-radius: 6px;
    position:sticky;
    /*It is necessary to add
    top:0px to allow sticky position to work*/
    top:0px;
    line-height: normal;
    margin:0%;
    padding: 4px;
}

.vertical_menu{
    width: 100px;
    height: 600px;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 4px;
    display: flex;
}
#page_stuff{
    display: block;
    background-color: brown;
    border-width: 3pt;
    border-color: red;
    border-style: groove;
    text-align: center ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: normal;
    line-height: 10px;
}
#topping{
    background-color: rgba(71, 59, 42, 0.769);
}
#full_page{
    display:grid;
    height: 500px;
    width: auto;
    grid-template-columns: 2;
}
#clock{
    height: fit-content;
    width: auto;
    font-style: italic;
    text-align: right;
}
